* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 28, 1);
}

.navbar{
    background-image: url(../img/header.jpg)
}

.navbar-brand{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px 3px 3px black;
}
div#content{
    display: flex;
    padding: 1.5em;
}
/* div.main {
    display: flex;
    padding: 1.5em;
} */

div.card{
    margin: .2em;
}
div#menu {
    flex:85%;
}
div.sideColumn {
   display: none;
   height: 100%;
   border-radius: 15px;
   border: .3em solid rgb(22, 16, 49);
   flex:15%;
   width: 15%;
   top: 0;
}

.expand{
    width: 85%;
}